:root {
  --main-color: rgb(65, 63, 196);
}

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.header {
  background-color: var(--main-color);
  color: #fff;
}

.header ul {
  list-style: none;
}

.header ul li {
  float: left;
}

.header ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 10px;
}

.header ul li a.active {
  background-color: rgb(227, 227, 255);
  color: var(--main-color);
}

.blog-title {
  text-align: center;
  font-weight: bold;
  color: var(--main-color);
  font-size: 24px;
  margin: 20px 0;
}

.post {
  margin: 10px 0;
  padding: 10px;
  background-color: rgb(227, 227, 227);
  border-radius: 3px;
  color: rgb(37, 37, 37);
}

.post-left {
  width: 150px;
  float: left;
  margin-right: 10px;
}

.post-left img {
  width: 100%;
}

.post-right {
  float: left;
  font-weight: 14px;
  width: 620px;
}

.post-right h2 {
  font-size: 18px;
  padding: 0;
  margin: 0 0 10px 0;
}

.post-right h2 a {
  font-weight: bold;
  text-decoration: none;
  color: var(--main-color);
}
.post-info {
  padding: 20px 0;
}

.clearfix {
  clear: both;
}

.full-post-image {
  width: 500px;
  margin: 10px auto;
}

.full-post-image img {
  width: 100%;
}
.full-post-contect {
  margin: 10px 0;
  padding: 5px;
}
.full-post-contect h1 {
  text-align: center;
  color: blueviolet;
  margin: 10px 0;
}

.full-post-contect p {
  font-size: 16px;
  margin: 20px 0;
}

.left-info {
  float: left;
  width: 280px;
  font-size: 16px;
  color: rgb(40, 40, 40);
}

.right-info {
  float: right;
  font-size: 18px;
}
.right-info span {
  display: inline-block;
  margin-left: 10px;
}
.right-info span i {
  color: blueviolet;
}
.trash a i {
  color: tomato;
  transition: all 0.4s;
}
.trash a:hover > i {
  color: rgb(115, 17, 0);
}

.contact-form {
  display: block;
  width: 500px;
  margin: 10px auto;
}

.form-input input, .form-text textarea {
  display: block;
  width: 100%;
  padding: 8px;
  outline: none;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid var(--main-color);
}

.form-text textarea {
  height: 90px;
}

.form-btn input {
  display: block;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: var(--main-color);
  transition: all 0.4s;
}

.form-btn input:hover {
  cursor: pointer;
  opacity: 0.8;
}

.search {
  float: right;
  width: 400px;
  margin-top: 4px;
}
.searh-input {
  display: inline-block;
  width: 70%;
  padding: 7px;
  outline: none;
  border-radius: 5px 0 0 5px;
  border: none;
}
.searh-btn {
  display: inline-block;
  width: 24%;
  position: relative;
  left: -2px;
  padding: 7px;
  outline: none;
  border-radius: 0 5px 5px 0;
  border: none;
  color: var(--main-color);
  font-weight: bold;
  transition: all 0.4s;
}
.searh-btn:hover {
  cursor: pointer;
  background-color: rgb(165, 102, 224);
  color: #fff;
}