<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/media/style.css">
  <title>Blog</title>
</head>
<body>

  <header class="header">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>

      <div class="clearfix"></div>
    </nav>
  </header>
  
  <div class="container">
    <section class="main">

      <div class="post">
        <div class="full-post-image">
          <img src="/media/{{article.photo}}" alt="">
        </div>
        <div class="full-post-contect">
          <h1>{{article.title}}</h1>
          <p>{{article.description}}</p>
          <div class="post-info">
            <span>Create date: {{article.created_at}}</span>
          </div>
        </div>

        <div class="clearfix"></div>
      </div>

    </section>
  </div>

</body>
</html>